*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9, 30, 0.7),rgba(4,9, 30, 0.7)),url('/static/sorta_waste/SORTA/waste.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav {
    display: flex;
    float: right;
}
.nav ul {
    list-style-type: none;
}
.nav ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}
.nav ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav ul li:hover::after{
    width: 100%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    
}

.header-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header-text h3{
    font-size: 30px;
    font-family: sans-serif;
    color:white;
}
.header-text p{
    color:white;
    font-size: 30px;
    font-family: sans-serif;
}
.header-text a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px 7px 9px;
    font-size: 13px;
    
}
.header-text a:hover {
    background-color: brown;
    border: 1px solid brown;
    transition: 1s;
}

/* ABOUT YOU SECTION */
.p_infos {
    display: flex;
    justify-content: center;
    background:white;
}
.p_infos_box {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 10px;
}
.p_infos_box h1 {
    text-align: center;
}
.name {
    padding: 10px;
}
input::placeholder{
    padding: 10px;
}

.name input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 8px;
}
.about-you {
    margin: 5px;
    padding: 7px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}