*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header section */
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9, 30, 0.7),rgba(4,9, 30, 0.7)),url('/static/sorta_waste/SORTA/waste.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.nav {
    display: flex;
    float: right;
}
.nav ul {
    list-style-type: none;
}
.nav ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
}
.nav ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav ul li:hover::after{
    width: 100%;
}
.nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    
}

.header-text{
    position: absolute;
    text-align: center;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.header-text h3{
    font-size: 30px;
    font-family: sans-serif;
    color:white;
}
.header-text p{
    color:white;
    font-size: 30px;
    font-family: sans-serif;
}
.header-text a {
    display: inline-block;
    width: 100px;
    text-decoration: none;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding: 7px 7px 9px;
    font-size: 13px;
    
}
.header-text a:hover {
    background-color: brown;
    border: 1px solid brown;
    transition: 1s;
}

/* ABOUT YOU SECTION */
.p_infos {
    display: flex;
    justify-content: center;
    background:white;
}
.p_infos_box {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 30%;
    margin: 10px;
    padding: 10px;
}
.p_infos_box h1 {
    text-align: center;
}
.name {
    padding: 10px;
}
input::placeholder{
    padding: 10px;
}

.name input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 8px;
}
.about-you {
    margin: 5px;
    padding: 7px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}
/* SUBMIT BUTTON */
.submit-button a{
    border: 1px solid black;
    color: black;
    padding: 7px 20px;
    background: transparent;
    text-decoration: none; 
    transition: 2s; 
}
.submit-button a:hover {
    background: #f44336;
    border: 1px white;
    transition: 2s;
}
.submit-button{
    text-align: center;
    margin-top: 10px;
}

/* Producer styling */
.page-top {
    margin-top: 19px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Producer page styling */

.producer-top-bar {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.1) ;
}
.producer-nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 7px 7px;
    margin-right: 10px;
}
.producer-image img {
    width: 140px;
    height:140px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 50%;
    background-position:center top;
}
.producer-image{
    /* width: 200px;
    height: 200px; */
    padding: 7px 7px;
}

/* Section two waste categories */
.container {
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
  }
  .btn {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin:20px auto;
    cursor: pointer;
  }
  .waste-options, .amount-options {
    display: none;
    flex-direction: column;
    margin-top: 20px;
  }
  .radio-label {
    margin-right: 10px;
    display: block;
  }
/* Styling the register_form */


.waste-order-form {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #0056b3;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="file"] {
    margin-top: 5px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

@keyframes slide {
    0%{
        left: 0;
    }
    100%{
        left:100px;
    }
}
.welcome-submit-page{
    position: relative;
    text-align: center;
    margin-top: 15px;
    animation: slide 2s linear infinite;
}
.welcome-submit-page h2{
    color: #007bff;
}

